{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Loan Database!</title>
  </head>
  
  <body>
      <nav class="container-fluid navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #000000">
        <a class="nav justify-content-end text-white navbar-brand" href="{% url 'clientes' %}">Página Inicial</a>
        <ul class="nav justify-content-end" style="list-style: none;">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <strong style="float: left" class="text-white nav-link">Bem-vindo {{user.get_username}}</strong>
          </li>
          <li class="nav-item">
              <a class=" nav-link" href="{% url 'logout' %}">Sair</a>
          </li>
          {% else %}
          <li class="nav-item">
              <a class=" nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">      
              <a class=" nav-link" href="{% url 'novo_usuario' %}">Fazer Cadastro</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags}}">{{message}}</div>
        {% endfor %}
        {% endif %}
    
      {% block scripts %}
      <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
      <script src="{% static 'js/jquery.mask.min.js' %}"></script>
      <script src="{% static 'js/mascara.js' %}"></script>
      {% endblock %}
      {% block conteudo %}
      {% endblock %}
    </body>
</html>
    
      
      
        
      
       