{% load static %}
<!doctype html>
<html lang="en-us">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.75, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Loan Database!</title>
  </head>
  
  <body>
      <nav class="navbar-fluid container-fluid fixed-top " style="background-color: #000000">
        <a style="float:left;"class="navbar navbar-brand" href="{% url 'clientes' %}">Página Inicial</a>
        <ul style="float:right; list-style: none;">
          {% if user.is_authenticated %}
          <li style="float:left">
            <strong class="text-white nav-link">Bem-vindo: {{user.get_username}}</strong>
          </li>
          <li style="float:left">
              <a class= "nav-link" href="{% url 'logout' %}">Sair</a>
          </li>
          {% else %}
          <li style="float:left">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li style="float:left">      
              <a class=" nav-link" href="{% url 'novo_usuario' %}">Fazer Cadastro</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags}}">{{message}}</div>
        {% endfor %}
        {% endif %}
        
        {% block conteudo %}

        {% endblock %}
    
        <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
        <script src="{% static 'js/jquery.mask.min.js' %}"></script>
        <script src="{% static 'js/mascara.js' %}"></script>
      
      {% block scripts %}

      
      
      {% endblock %}


    </body>
</html>
    
      
      
        
      
       