{% extends 'loans/base.html' %}
{% load static %}
{% block conteudo %}
<h1 style ='text-align: center; margin-top:200px; margin-bottom:80px;'>Lista de Clientes</h1>
<div style= "white-space: nowrap;" class='container'>
<button style='margin-bottom:10px;' class='btn btn-success'><a  style = 'color: white;' href="{% url 'novo_emprestimo' %}">Novo Cliente</a></button>
<button style='margin-bottom:10px;' class='btn btn-success'><a  style = 'color: white;' href="{% url 'balanco' %}">Balanço Total</a></button>
<button style='margin-bottom:10px;' class='btn btn-success'><a  style = 'color: white;' href="{% url 'balanco_mensal' %}">Balanço Mensal</a></button>
<table class= 'container-fluid table table-striped table-bordered'>
    <tr style="text-align: center;">
        <th>Cliente</th>
        <th>Pagameto Mensal</th>
        <th>Editar</th>
        <th>Excluir</th>
        <th>Mensalidade</th>
    </tr>
    {% for dado in dados %}
    <tr style="text-align: center;">
        <td><a href="{% url 'detalhe' dado.id %}">{{dado.nome}}</a></td> 
        <td id='paymentField' class='payment-field'>{{dado.juros_mes}}</td>
        <td><button class = 'btn btn-warning'><a style = 'color: white;' href="{% url 'editar' dado.id %}">Editar</a></button></td>
        <td><button class = 'btn btn-danger'><a style = 'color: white;' href="{% url 'excluir' dado.id %}">Excluir</a></button></td>
        {% if dado.checkbox1 %}
        <td class ="payment-field" style='text-align:center'><input  type='checkbox' name="checkbox1-{{dado.id}}" id='checkbox1-{{dado.id}}' checked onchange="handleChange(this,{{dado.id}})" ></td>
        {% else %}
        <td class ="payment-field" style='text-align:center'><input  type='checkbox' name="checkbox1-{{dado.id}}" id='checkbox1-{{dado.id}}' onchange="handleChange(this,{{dado.id}})"></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}