{% extends 'loans/base.html' %}
{% block conteudo %}
<h1 style='margin-top:100px; margin-bottom: 80px; text-align: center;'>Detalhes do Cliente<h1>
<div class="container">
    <table class='table table-striped table-hover table-bordered table-lg'>
        <thead>
            <tr>
                <th>Nome</th> <td>{{dados.nome}}</td>
            </tr>
            <tr>
                <th>CPF</th> <td>{{dados.cpf}}</td>
            </tr>    
            <tr>
                <th>Telefone</th> <td>{{dados.telefone}}</td>
            </tr>    
            <tr>
                <th>Valor do Empréstimo</th> <td>{{dados.valor}}</td>
            </tr>
            <tr>
                <th>Juros %</th> <td>{{dados.juros}}</td>
            </tr>    
            <tr>
                <th>Pagamento Mensal %</th> <td>{{dados.pagamento_mensal}}</td>
            </tr>
            <tr>
                <th>Data do Empréstimo</th> <td>{{dados.data}}</td>
            </tr>     
            <tr>
                <th>Data de Pagamento</th>  <td>{{dados.vencimento_mensal}}</td>
            </tr>    
            <tr>    
                <th>Pago</th> {% if dado.divida_total_paga %}
                <td style='text-align:center'><input  type='checkbox' value="" id='divida_total_paga' checked></td>
                {% else %}
                <td style='text-align:center'><input  type='checkbox'></td>
                {% endif %}
            </tr>
        </thead>
    </table>
</div>
{% endblock %}
                 
            
            
            
            
            
            
            
            
            
