{% extends 'loans/base.html' %}
{% block conteudo %}
<h1 style='margin-top:100px; margin-bottom: 80px; text-align: center;'>Detalhes do Cliente<h1>
<div class="table-responsive-sm">
    <table class='table table-hover table-bordered'> 
        <tr>   
            <th>Nome</th> 
            <th>CPF</th> 
            <th>Telefone</th>  
            <th>Valor do Empréstimo</th> 
            <th>Juros %</th> 
            <th>Pagamento Mensal %</th> 
            <th>Data do Empréstimo</th> 
            <th>Pagamento Mensal</th> 
            <th>Pago</th> 
        </tr>
        <tr>
            <td>{{dados.nome}}</td>
            <td>{{dados.cpf}}</td>
            <td>{{dados.telefone}}</td>
            <td>{{dados.valor}}</td>
            <td>{{dados.juros}}</td>
            <td>{{dados.pagamento_mensal}}</td>
            <td>{{dados.data}}</td>
            <td>{{dados.vencimento_mensal}}</td>
            {% if dado.divida_total_paga %}
            <td style='text-align:center'><input disabled type='checkbox' checked></td>
            {% else %}
            <td style='text-align:center'><input disabled type='checkbox'></td>
            {% endif %}
        </tr>
    </table>
</div>
{% endblock %}
            
            
            
            
            
            
            
            
            
