{% extends 'loans/base.html' %}
{% load static %}
{% block conteudo %}
{% load crispy_forms_tags %}
<div class="container">
    <h1 style='margin-top: 50px; margin-bottom: 30px;'>Formulário Novo Cliente</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{formulario | crispy}}
        <button type="submit" class="btn btn-success">Salvar</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>
    $(document.ready(function(){
        $('.data').mask('00/00/0000');
    }));
</script>
{% endblock scripts %}



